:root{
    --bar: #29293d;
    --text: #d6d6d6;
    --link: #ffbf00;
    --background: #060613;
}

*, html, body{
    margin: 0;
    padding: 0;
    color: var(--text);
    font-size: 20px;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 5vw;
    /* background-color: #240400; */
    background-color: var(--bar);
}

.title{
    font-size: 2rem;
    letter-spacing: 1rem;
    color: var(--text);
}

.navBar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    align-items: center;
}

.navBar ul li{
    height: 100%;
    width: 25%;
    padding: auto;
    display: flex;
    text-align: center;
    color: var(--text);
}

.navBar ul li a{
    height: 100%;
    width: 100%;
    color: var(--link);
    font-size: 1rem;
    text-decoration: none;
}

.navBar ul li a:hover{
    background-color: var(--text);
    color: var(--background);
    border-radius: 10%;
}
